{% extends 'template.html' %}

{% block header %}
 <h3 style="font-weight:normal;text-align: center">
 	{% block title %}
  		<span style="font-weight:bold">r/</span>
  		{{subreddit}}
	{% endblock %}
</h3>
{% endblock %}

{% block content %}
<div class="row pt-3">
	<form method="POST" action="/word_embeddings/{{subreddit}}" style="width:100%;">
  	<div class="input-group mb-3">
	  <input type="text" class="form-control" placeholder="word" aria-label="word" aria-describedby="basic-addon2" name="word">
	  <div class="input-group-append">
	    <button class="btn btn-outline-secondary" type="submit" style="border-radius: 0px">Search</button>
	  </div>
	</div>
  </form>
</div>
<div class="row">
	{{word}}
</div>
<div class="row">
	{{neighbours|safe}}
</div>
{% endblock %}
